:80 {
    handle /api/* {
        reverse_proxy backend:3000
    }
    handle {
        root * /srv/www
        try_files {path} /index.html
        file_server
    }
}

:443 {
    handle /api/* {
        reverse_proxy backend:3000
    }
    handle {
        root * /srv/www
        try_files {path} /index.html
        file_server
    }
}
